<div class="row main-container container-fluid">
    <div class="row container-fluid">
        <div class="container-fluid">
            <h2>Academic Projects</h2>
        </div>
        <div class="row container-fluid">
            <div class="container-fluid">
                <div class="container-fluid">
                    <h4><a target="_blank" href="{{projectsURL.leafWilting}}">Leaf Wilting Detection in Soybean Plants Using Deep Convolutional Neural Networks</a></h4>
                </div>
                <div class="container-fluid">
                    <p> 
                        Attained an accuracy of 63%% for detecting leaf wilting in soybean plants using
                        convolutional neural networks with a dataset of 1200 images. Improved the accuracy to 63% using data augmentation 
                        and transfer learning at the later stage of the project.
                    </p>
                </div>
                <hr>
            </div>
           
            <div class="container-fluid">
                <div class="container-fluid">
                    <h4><a target="_blank" href="{{projectsURL.textSummarization}}">Text Summarization</a></h4>
                </div>
                <div class="container-fluid">
                    <p> 
                        Implemented text summarization by modelling various news articles using TF_IDF and sentenceencoder
                        with TextRank, LDA and K-Means algorithms to retrieve most relevant sentences from the original text to generate
                        an automated summary
                    </p>
                </div>
                <hr>
            </div>
            
            <div class="container-fluid">
                <div class="container-fluid">
                    <h4><a target="_blank" href="{{projectsURL.scrumBot}}">Scrum Bot</a></h4>
                </div>
                <div class="container-fluid">
                    <p> 
                        Designed and developed a slack bot using nodeJS. The bot could perform all the functions of a scrum meeting
                        – ask for user updates, send daily and weekly updates in the team group and ask users if there is any blocker
                    </p>
                </div>
                <hr>
            </div>

            <div class="container-fluid">
                <div class="container-fluid">
                    <h4><a target="_blank" href="{{projectsURL.networking.goBackN}}">Go_Back_N ARQ</a> and <a target="_blank" href="{{projectsURL.networking.selectiveRepeat}}">Selective Repeat ARQ</a></h4>
                </div>
                <div class="container-fluid">
                    <p> 
                        Designed and developed an FTP client-server architecture with Go_Back_N ARQ and Selective ARQ policies using python.
                        The client-server architecture supported file transfers using different values of MSS and Window Size on the client side 
                        and loss probability on the server side.
                    </p>
                </div> 
                <hr>
            </div>

            <div class="container-fluid">
                <div class="container-fluid">
                    <h4><a target="_blank" href="{{projectsURL.networking.p2p}}">Peer To Peer with Centralized Index</a></h4>
                </div>
                <div class="container-fluid">
                    <p>Designed and develped a peer to peer architecture for transferring files among different peers. The architecture
                        consists of one server and multiple peers/clients and any client could upload a file it has while any other client
                        could download it from that peer. The server maintains a list of all the available files with their corresponding owners
                        and any peer could use that list to get the information on the available files.
                    </p>
                </div>
                <hr>
            </div>


        </div>
    </div>

    <div class="row container-fluid">
        <div class="container-fluid">
            <h2>Professional Projects</h2>
        </div>
        <div class="row container-fluid">
            <div class="container-fluid">
                <div class="container-fluid">
                    <h4><a target="_blank" href="projectsURL.dxl">DestinationXL</a></h4>
                </div>
                <div class="container-fluid">
                    <p> 
                        Developed end to end functionality for an e-commerce application - DXL. The application was developed in angular 5
                        and supported server side rendering                     
                    </p>
                </div>
                <hr>
            </div>
            
            <div class="container-fluid">
                <div class="container-fluid">
                    <h4><a target="_blank" href="{{projectsURL.dsw}}">Designer Shoe Warehouse</a></h4>
                </div>
                <div class="container-fluid"> 
                    <p> 
                        Designed and Developed end to end functionality for DSW, which is an e-commerce universal web application
                        developed in angular 7.
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>