<div class="row main-container container-fluid">
    <div class="row container-fluid">
        <div class="container-fluid">
            <h2>Academic Projects</h2>
        </div>
        <div class="row container-fluid">
            <div class="container-fluid">
                <div class="container-fluid">
                    <h4>Leaf Wilting Detection in Soybean Plants Using Deep Convolutional Neural Networks</h4>
                </div>
                <div class="container-fluid">
                    <p> 
                        Attained an accuracy of 54% for detecting leaf wilting in soybean plants using
                        convolutional neural networks with a dataset of 1200 images. Improved the accuracy to 63% using data augmentation 
                        and transfer learning at the later stage of the project.
                    </p>
                </div>
                <hr>
            </div>
           
            <div class="container-fluid">
                <div class="container-fluid">
                    <h4>Text Summarization</h4>
                </div>
                <div class="container-fluid">
                    <p> 
                        Implemented text summarization by modelling various news articles using TF_IDF and sentenceencoder
                        with TextRank, LDA and K-Means algorithms to retrieve most relevant sentences from the original text to generate
                        an automated summary
                    </p>
                </div>
                <hr>
            </div>
            
            <div class="container-fluid">
                <div class="container-fluid">
                    <h4>Scrum Bot</h4>
                </div>
                <div class="container-fluid">
                    <p> 
                        Designed and developed a slack bot using nodeJS. The bot could perform all the functions of a scrum meeting
                        – ask for user updates, send daily and weekly updates in the team group and ask users if there is any blocker
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row container-fluid">
        <div class="container-fluid">
            <h2>Professional Projects</h2>
        </div>
        <div class="row container-fluid">
            <div class="container-fluid">
                <div class="container-fluid">
                    <h4>Leaf Wilting Detection in Soybean Plants Using Deep Convolutional Neural Networks</h4>
                </div>
                <div class="container-fluid">
                    <p> 
                        Attained an accuracy of 54% for detecting leaf wilting in soybean plants using
                        convolutional neural networks with a dataset of 1200 images. Improved the accuracy to 63% using data augmentation 
                        and transfer learning at the later stage of the project.
                    </p>
                </div>
                <hr>
            </div>
            
            <div class="container-fluid">
                <div class="container-fluid">
                    <h4>Text Summarization</h4>
                </div>
                <div class="container-fluid">
                    <p> 
                        Implemented text summarization by modelling various news articles using TF_IDF and sentenceencoder
                        with TextRank, LDA and K-Means algorithms to retrieve most relevant sentences from the original text to generate
                        an automated summary
                    </p>
                </div>
                <hr>
            </div>
            
            <div class="container-fluid">
                <div class="container-fluid">
                    <h4>Scrum Bot</h4>
                </div>
                <div class="container-fluid">
                    <p> 
                        Designed and developed a slack bot using nodeJS. The bot could perform all the functions of a scrum meeting
                        – ask for user updates, send daily and weekly updates in the team group and ask users if there is any blocker
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>