
<div class="container main-container">
  <div class="row">
    <div class="col-md-3 my-image-container">
      <img class="my-image" src="./assets/myImage.jpg" alt="my picture">
    </div>
    <div class="col-md-9 text">
        <p>
            I like to play cricket in my free time and I have been playing it since my middle school.
            I was a part of my undergraduate cricket team and we won the AKMF cricket tournament 
            in my first year. I also won the best bowler award in my third year of undergraduate studies. I am a 
            member of the current NC State's cricket team as well. I also like to cook food and try new cuisines whenever I get time.
            <br>
            <br>
            Here are some of the courses that I have taken at NCSU till now and I think were extremely interesting:-
        </p>
        <ul>
            <li>Neural Networks and Deep Learning</li>
            <li>Parallel Systems</li>
            <li>Human Computer Interaction</li>
            <li>Design and Analysis of Algorithms</li>
        </ul>
        <hr class="hr">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
  </div>
</div>
