
<div class="container-fluid main-container">
  <div class="container-fluid row">
    <div class="container-fluid col-md-3 my-image-container">
      <img class="my-image" src="./assets/myImage.jpg" alt="my picture">
    </div>
    <div class="container-fluid col-md-9 text">
        <h3>About Me</h3>
        <p>
          Hi! My name is Archit Kwatra. I am a second year Masters student at the Department of Computer Science, 
          <a href="https://www.ncsu.edu/"><span>North Carolina State University</span></a>. Since my childhood, I have been fascinated by the power of a computer and 
          with time my fascination turned into curiousness which led me here. My research interests are Human Computer Interaction 
          and Reinforcement Learning. I am looking for full time opportunities where I could mix my research interests with the
          conventional software engineering practices to deliver standalone, simple and useful solutions to users. I am currently 
          a part of the <a href="https://hintslab.wordpress.ncsu.edu/"><span>HINTS</span></a> Lab (at NCSU) and working with 
          <a href="https://people.engr.ncsu.edu/twprice/website/"><span>Dr. Thomas W. Price</span></a>.
        </p>
        <br>
        <hr class="hr">
        <p> 
          I have done my undergraduate studies from Guru Gobind Singh Indraprastha University (2012-2016) in Electronics and Communications. 
          Prior to joining NC State University I have worked as a Software Engineer at TAIStech (india), a Dallas based organisation, 
          for two and a half years where my primary focus was to develop e-commerce web applications using Javscript/TypeScript. 
          I was responsible for end-to-end development of a couple of e-commerce web applications: 
          <a href="https://www.dsw.com/en/us/"><span>DSW</span></a>  and <a href="https://www.destinationxl.com/mens-big-and-tall-store"><span>DXL</span></a>.
          I am also interested in learning mobile application development and I do posess a basic understanding in iOS application development.  
        </p>
        <br>  
        <hr class="hr">
        <p>
          Please reach out to me at archit.kwatra@gmail.com if you find my research interests aligning with yours or you have any questions.
        </p>
    </div>
  </div>
</div>
