
<div class="container main-container">
  <div class="row">
    <div class="col-md-3 my-image-container">
      <img class="my-image" src="./assets/myImage.jpg" alt="my picture">
    </div>
    <div class="col-md-9 text">
        <h3>Archit Kwatra</h3>
        <p>
          Hi! My name is Archit Kwatra. I am a second year Masters student at the Department of Computer Science, 
          North Carolina State University. Since my childhood, I have been fascinated by the power of a computer and 
          with time my fascination turned into curiousness which led me here. My research interests are Human Computer Interaction 
          and Reinforcement Learning. I am looking for full time opportunities where I could mix my research interests with the
          conventional software engineering practices to deliver standalone, simple and useful solutions to users. I am currently 
          a part of the HINTS Lab (at NCSU) and working with Dr. Thomas W. Price.
        </p>
        <br>
        <hr class="hr">
        <p> 
          I have done my undergraduate studies from Guru Gobind Singh Indraprastha University (2012-2016) in Electronics and Communication. 
          Prior to joining NC State University I have worked as a Software Engineer at TAIStech (india), a Dallas based organisation, 
          for two and a half years where my primary focus was to develop e-commerce web applications using Javscript/typeScript. 
          I was responsible for end-to-end development of a couple of e-commerce web applications: 
          DSW (https://www.dsw.com/en/us/) and DXL (https://www.destinationxl.com/mens-big-and-tall-store).
          I am also interested in learning mobile application development and I do posess a basic understanding in iOS application development.  
        </p>
        <br>  
        <hr class="hr">
        <p>
          Please reach out to me at archit.kwatra@gmail.com if you find my research interests aligning with yours or you have any questions.
        </p>
    </div>
  </div>
</div>
